CONTAINER_PREFIX=bjar # used for multiple instances on one host

DB_USER=bancho
DB_PASS=changeme
DB_NAME=bancho
DB_PORT=3306
DB_TIMEZONE=UTC

SERVER_PORT=8200
SERVER_DOMAIN=https://changeme.com
SERVER_LEVEL=DEVELOPMENT

SERVER_OSU_API_KEY=changeme

SERVER_DIRECT_SEARCH=https://osu.direct/api/search
SERVER_DIRECT_DL=https://osu.direct/d

PMA_PORT=8202

# more configuration in .data/server/.config directory